extends ../layouts/common
block content

    h1 Users
    a(href="/users/create") create
    form(action="/users/search",method = "get")
        input(type="text" name ="q")
        button search
    table.table
     tr
       th Name
       th Password
       th
     each user in users
       tr 
         td= user.name
         td= user.password
         td
           a(href='/users/'+user.id) View
